.env
*.mkv
*.pyc
*.webm
*.pyc
*.mkv
*.vtt
*.mp4
*.txt
*.srt
*.zip
usage_log.csv
video/
owl-odoo-video/
.vscode/
diff/
ai-engineer/
experimental-pdf/
Kode.id - IT developer batch 1/
mcp/
Odoo Portal Development/
to-do-blog/*
to-do-blog